@charset "utf-8";

@import "./theme-colors.scss";

$primary: $ep-primary;

$radius: 0;
$radius-large: 0;

@import "../node_modules/bulma/bulma.sass";

.navbar.ep-has-shadow {
    box-shadow: $box-shadow !important;
}

.ep-is-fullwindow-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.ep-is-list-box {
    margin-bottom: $size-7 / 2 !important;
}

.ep-is-pointer {
    cursor: pointer;
}

.ep-is-vcentered {
    align-items: center;
}
